@model IEnumerable<BoxOfficeASP.Models.Seance>

@{
    ViewBag.Title = "Index";
}

<h2>Seances</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MovieTitle)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MovieTitle)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SeanceId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SeanceId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SeanceId })
        </td>
    </tr>
}

</table>
